@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --purple500: #281154;
    --purple300: #270082;
    --purple600: #1b0058;
    --red600:  #dc0000;
    --body : #f9f6ff;
    --max-width : 1200px;
}
html,body{
    font-family: "Roboto" , sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

section{
    scroll-margin: 50px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: var(--purple300);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 20px 0px;
}
.logo{
    font-size: 32px;
    font-weight: 600;
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;

}
nav ul{
    display: flex;
    gap: 20px;
}
nav ul li{
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in;
}
nav ul li:hover{
    
    border-bottom: 2px solid white;
    transition: 0.2s ease-in;
}
.hero_section{
    background-image: url(images/hero_image.png);
    background-repeat: no-repeat;
    background-position: center;
 
  background-size: cover;
    height: 100vh;
    display: grid;
    place-items: center;
    color: white;
    text-align: center;
    
}
.hero_section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero_section h1{
    font-size: 96px;
}
.hero_section h3{
    font-size: 32px;
}
.music_section{
    padding-top: 50px;
    background-color: var(--purple500);
}
.music_section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.ipad_iphone_img{
    margin-top: -400px;
    position: relative;
    top: 400px;
}
.primary_btn{
    background-color: var(--red600);
    color: white;
}
.secondary_btn{
    background-color: var(--purple300);
    color: white;
}
.about_music{
    padding-top: 500px;
    display: grid;
    place-items: center;
    gap: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.video_section{
    background-image: url(images/video.png);
    min-height: 800px;
    display: grid;
    place-items: center;
    color: white;
    text-align: center;
}
.video_section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -200px;
}
.hero_section .video_section{
    position: relative;
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gift_section{
    display: flex;
    justify-content: center;
    margin: 100px 0px;
    gap : 50px;
}
.gift_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.upper_footer{
    background-color: var(--purple600);
    padding: 20px;
}
footer .container{
    display: flex;
    color: white;
    justify-content: space-between;
}
.upper_footer h4{
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}
.lower_footer{
    background-color: var(--purple300);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.gift_section{
    scroll-margin: 120px;
}
